.box1{
    width: 500px;
    height: 1000px;
    border: solid 1px black;

}

.text1{
    width: 500px;
    height: 50px;

}

.border1{
    display: flex;
    width: 480px;
    height: 10px;
    background-color: black;
    justify-content: center;
}