.main{
    width: 500px;
    height: 1000px;
    border: solid 1px black;
/*     background-color: blue;
 */
}

.text1{
    width: 500px;
    height: 50px;

}

.main .border1{
    display: flex;
    width: 480px;
    height: 10px;
    background-color: black;
    margin-left: 8px;

}

.text2{
    text-align: right;
    margin-top: 5px;
}
